body {
    color: #555555;
}
.userMsgContainer .item-inner {
    color: #999999;
}
.userMsgContainer select {
    color: #999999;
}
.userMsgContainer option {
    color: #555555;
}
p {
    padding:0;
}
input::-webkit-input-placeholder{
    color: #999;opacity:0.3;
}
ul::before {
    height: 0!important;
}
.attestation-page .edit {
    display: inline-block;
    
    width: 20px!important;
    background-position: 0 17px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-image: url(../../image/edit.png);
    
    
}
.attestation-page .toolbar{
    background-color: #FFFFFF!important;
    border-bottom: 1px solid #EAEBEB;
}
.attestation-page .toolbar .tab-link {
    height: 70%;
    color: #9E9E9E;
    
}
.attestation-page .toolbar .active{
    color: #363636!important;
}
.tabbar a.tab-link.active,
html:not(.watch-active-state) .tabbar a.tab-link:active,
.tabbar a.tab-link.active-state {
  color: #9E9E9E;
}

.tabbar .tab-link-highlight {
    background: #619DCA!important;
}
.attestationContainer {
    padding-top: 72px!important;
}
.tab-link-highlight {
    display: none!important;
}
.toolbar-inner .active span {
    border-bottom:2px solid #619DCA;
}
/*tab-1 start*/
.attestationContainer .item-media {
    width: 64px!important;
}
.attestationContainer .item-content {
    padding-left: 0;
}
.realName {
    padding-top: 10px;
    font-weight: bold;
}
.list-block.media-list .item-media, .list-block li.media-item .item-media {
    padding: 10px 0 6px;
    line-height: 32px;
    
   
}
.list-block.media-list .item-inner, .list-block li.media-item .item-inner {
    padding: 10px 0 6px;
    line-height: 32px;
}
/*tab-1 end*/

/*tab-2 start*/
#tab-2 {
    margin: 31px 16px 16px;
}
#tab-2 .item {
    border-top: 1px solid #EAEBEB;
    padding: 16px 0;
}
#tab-2 .item .title {
    padding-left: 30px;
    background-position: 0 2px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
}
#tab-2 .serviceTime .title {
    background-image: url(../../image/icon-time.png);
}
#tab-2 .knowledgeSkills .title {
    background-image: url(../../image/icon-skill.png);
}
#tab-2 .serviceIntentions .title {
    background-image: url(../../image/icon-intention.png);
}
#tab-2 .serviceFields .title {
    background-image: url(../../image/icon-field.png);
}
#tab-2 .languageSkills .title {
    background-image: url(../../image/icon-language.png);
}
#tab-2 .item  div {
    margin-top: 16px;
}
#tab-2 .item .cell {
   display: inline-block;
   margin-right: 8px;
   padding: 2px 8px;
   border:1px solid #EAEBEB;
   border-radius: 3px 3px;
   font-size: 14px!important;
}
/*tab-2 end*/

/*userMsg start*/
.userMsgContainer.content-block-title {
    margin: 12px 16px 12px;
    font-weight: bold;
    line-height: 20px;
}
.userMsgContainer .item-content {
    padding-left: 0;
}
.userMsgContainer .item-media {
    width: 25%;
    padding-bottom: 12px!important;
}
.icon-form-radio {
    width: 80%!important;
 }
.userMsgContainer .item-input input,.userMsgContainer .item-input select{
  padding-bottom: 16px;  
}
.userMsgContainer .item-content label {
    display: inline-block;
    width: 90px;
    height: 32px;
}
.userMsgContainer .item-content label .item-media {
    margin: 8px 0 0;
}
.userMsgContainer .item-content label span{
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
}
.required {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 10px;
    top:-5px;
    background-image: url(../../image/icon-asterisk.png);
    background-repeat: no-repeat;
    background-position: 3px,0px;
    background-size: 10px 10px;
}
.tips {
    font-weight: normal;
}
.short-list {
    font-size: 16px;
}
.short-list select {
    display: inline-block!important;
    width: 31%!important;
    padding-bottom: 16px!important;
    text-align: center;
    
    border-bottom: 1px solid #F0F0F0!important;
}
.short-list select.hide {
    display: none!important;
}
.short-list select:focus{  
    border-bottom: 2px solid #2196f3!important;
}
.item-input select {
    background-image: url(../../image/triangle.png);
    background-position: right 8px;
    background-repeat: no-repeat;
    background-size: 15px 9px;
}
.ripple-wave {
    display: none;
}
.step{
    margin: 0 90px 0 90px;
}
/*userMsg end*/
/*knowledgeSkills start*/
.sub-page .navbar .right {
    top: 0;
}
.sub-page .navbar .right a{
    font-size: 14px!important;
    color: #444444!important; 
    padding-right: 16px; 
    padding-top: 16px;
}
.sub-page h3 {
    text-align: center;
    margin: 20px 0;
}
.sub-page p {
    text-align: center;
}
.sub-page .main {
    margin: 16px;
}
.sub-page .main .cell {
    display: inline-block;
    padding: 2px 10px;
    margin: 5px;
    color: #639ECB;
    border: 1px solid #639ECB;
   border-radius: 3px 3px;
}
.sub-page .main .chosen {
    background: #639ECB;
    color: #FFFFFF;
}
a.prev {
    color: #999999;
}
.posi-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.knowledgeSkillsContainer .prev {
    display: none;
}
/*knowledgeSkills end*/
